<div id="<%= dom_id contact %>">
  <p>
    <strong>Gym:</strong>
    <%= contact.gym_id %>
  </p>

  <p>
    <strong>Contact type:</strong>
    <%= contact.contact_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= contact.value %>
  </p>

</div>
