<div class="container">
  <div id="loading-status-payment" class="text-center p-4">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Carregando...</span>
    </div>
  </div>

  <div id="statusScreenBrick_container"></div>
</div>

<script>
  const renderStatusScreenBrick = async (bricksBuilder) => {
    const loadingElement = document.getElementById('loading-status-payment');
    const paymentContainer = document.getElementById('statusScreenBrick_container');

    const settings = {
      initialization: {
        paymentId: '<%= @payment_id %>',
      },
      customization: {
        visual: {
              hideStatusDetails: true,
              hideTransactionDate: true,
              style: {
              theme: 'bootstrap', // 'default' | 'dark' | 'bootstrap' | 'flat'
              },
          },
        backUrls: {
          'error': 'http://localhost:3000/payments/new',
          'return': 'http://localhost:3000/'
        }
      },
      callbacks: {
        onReady: () => {
          loadingElement.style.display = 'none';
          paymentContainer.style.display = 'block';
          console.log('Status screen Brick pronto!');
        },
        onError: (error) => {
          console.error('Erro ao carregar o Brick:', error);
        },
      },
    };

    window.statusScreenBrickController = await bricksBuilder.create(
      'statusScreen', 
      'statusScreenBrick_container', 
      settings
    );
  };

  document.addEventListener('DOMContentLoaded', () => {
    const mp = new MercadoPago('<%= Rails.application.credentials.mercado_pago["public_key"] %>', { locale: 'pt-BR' });
    const bricksBuilder = mp.bricks();
    renderStatusScreenBrick(bricksBuilder);
  });
</script>