<footer style="background-color: #1A2B4C">
 <div class="container">
   <div class="row py-5">
     <!-- Logo e Sobre -->
     <div class="col-lg-4 mb-4">
       <h5 class="text-white mb-3">FitPass</h5>
       <p class="text-white-50 mb-3">Transformando vidas através do acesso a milhares de academias em todo o Brasil.</p>
       <p class="text-white-50 mb-0">© 2024 FitPass. Todos os direitos reservados.</p>
     </div>

     <!-- Links Rápidos -->
     <div class="col-lg-2 col-md-6 mb-4">
       <h5 class="text-white mb-3">Links Rápidos</h5>
       <ul class="list-unstyled">
         <li class="mb-2">
           <a href="/" class="text-white-50 text-decoration-none hover-link">Home</a>
         </li>
         <li class="mb-2">
           <a href="#" class="text-white-50 text-decoration-none hover-link">Academias</a>
         </li>
         <li class="mb-2">
           <a href="#" class="text-white-50 text-decoration-none hover-link">Planos</a>
         </li>
         <li class="mb-2">
           <a href="#" class="text-white-50 text-decoration-none hover-link">Sobre nós</a>
         </li>
       </ul>
     </div>

     <!-- Suporte -->
     <div class="col-lg-2 col-md-6 mb-4">
       <h5 class="text-white mb-3">Suporte</h5>
       <ul class="list-unstyled">
         <li class="mb-2">
           <a href="#" class="text-white-50 text-decoration-none hover-link">FAQ</a>
         </li>
         <li class="mb-2">
           <a href="#" class="text-white-50 text-decoration-none hover-link">Contato</a>
         </li>
         <li class="mb-2">
           <a href="#" class="text-white-50 text-decoration-none hover-link">Termos de Uso</a>
         </li>
         <li class="mb-2">
           <a href="#" class="text-white-50 text-decoration-none hover-link">Privacidade</a>
         </li>
       </ul>
     </div>

     <!-- Redes Sociais -->
     <div class="col-lg-4 mb-4">
       <h5 class="text-white mb-3">Siga-nos</h5>
       <p class="text-white-50 mb-3">Fique por dentro das novidades!</p>
       <div class="d-flex gap-3">
         <a href="#" class="text-white hover-social" style="font-size: 24px;">
           <i class="fab fa-linkedin"></i>
         </a>
         <a href="#" class="text-white hover-social" style="font-size: 24px;">
           <i class="fab fa-github"></i>
         </a>
         <a href="#" class="text-white hover-social" style="font-size: 24px;">
           <i class="fab fa-instagram"></i>
         </a>
         <a href="#" class="text-white hover-social" style="font-size: 24px;">
           <i class="fab fa-youtube"></i>
         </a>
       </div>
     </div>
   </div>

   <!-- Linha de Separação -->
   <hr class="border-white-50">

   <!-- Bottom Footer -->
   <div class="row py-3">
     <div class="col-md-6 text-center text-md-start">
       <p class="text-white-50 mb-0">Desenvolvido com <i class="fas fa-heart" style="color: #00A3FF"></i> por <a href="#" class="text-decoration-none" style="color: #00A3FF">Lucas Cuerci</a></p>
     </div>
     <div class="col-md-6 text-center text-md-end">
       <p class="text-white-50 mb-0">
         <i class="fa-brands fa-whatsapp me-2" style="color: #2B7FFF"></i>(21) 98195-7557
       </p>
     </div>
   </div>
 </div>
</footer>